RENDERER_VITE_API_URL=http://localhost:44999/query
CSC_LINK=./Certificates.p12
CSC_KEY_PASSWORD=""
TINFOIL_API_KEY=tinfoil-api-key
TINFOIL_TTS_MODEL=kokoro
TINFOIL_AUDIO_URL=https://audio-processing.model.tinfoil.sh/v1/
TINFOIL_STT_MODEL="whisper-large-v3-turbo"
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=