COMPLETIONS_API_KEY=
COMPLETIONS_API_URL=https://openrouter.ai/api/v1 
COMPLETIONS_MODEL=openai/gpt-4o-mini 
REASONING_MODEL=openai/gpt-4.1 
EMBEDDINGS_API_KEY=your-api-key-here 
EMBEDDINGS_API_URL=https://api.openai.com/v1
EMBEDDINGS_MODEL=text-embedding-3-small
DB_PATH=./output/sqlite/store.db
APP_DATA_PATH=./output
GRAPHQL_PORT=44999
WEAVIATE_PORT=51414
CONTAINER_RUNTIME=podman
TELEGRAM_CHAT_SERVER=
HOLON_API_URL=
ENCHANTED_MCP_URL=https://enchanted-proxy-dev.up.railway.app/mcp
PROXY_TEE_URL=https://enchanted-proxy-dev.up.railway.app
INVITE_SERVER_URL=http://52.90.4.74:8080
MCP_CLIENT_ID=your-client-id-here
MCP_CLIENT_SECRET=your-client-secret-here
OPENROUTER_API_KEY=
OPENAI_API_KEY=
TINFOIL_API_KEY=your-tinfoil-api-key-here
ANONYMIZER_TYPE=no-op

# Test Credentials
E2E_TEST_EMAIL=
E2E_TEST_PASSWORD=