COMPLETIONS_API_KEY=open-router-api-key
COMPLETIONS_API_URL=https://openrouter.ai/api/v1
COMPLETIONS_MODEL=gpt-4.1-mini
REASONING_MODEL=openai/gpt-4.1-nano
REASONING_MODEL='qwen3:32b'
EMBEDDINGS_API_KEY=openai-api-key
EMBEDDINGS_API_URL=https://api.openai.com/v1
EMBEDDINGS_MODEL=text-embedding-3-small
GRAPHQL_PORT=44999
OLLAMA_BASE_URL=https://enchanted.ngrok.pro
TELEGRAM_TOKEN=6113117663:AAEx0tLDGQEtCexaS1Rq_p9ex2nHUXPf_NU
TELEGRAM_CHAT_SERVER=http://54.82.31.213:8080/query
HOLON_API_URL=http://localhost:8080
# optional
# HOLON_FETCH_INTERVAL=5m
# HOLON_BATCH_SIZE=50
# HOLON_MAX_RETRIES=3
# HOLON_RETRY_DELAY=30s